{% extends 'crm/elements/layout.html'%}
{% load static %}
{% block title %}
Квартира №{{ apartment.number }},{{ apartment.house }}
{% endblock %}

{% block style %}
{% endblock %}


{% block content-header %}
<h1>Квартира №{{ object.number }},{{ object.house }}</h1>
<ul class="breadcrumb">
    <li><a href="{% url 'admin'%}"><i class="fa fa-home"></i> Главная</a></li>
    <li><a href="{% url 'apartments' %}">Квартиры</a></li>
    <li class="active">Квартира №{{ apartment.number }},{{ apartment.house }}</li>
</ul>
{% endblock %}


{% block content %}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Просмотр квартиры</h3>
        <div class="box-tools">
            {% if personal_account and personal_account.status == 'active' %}
            <a href="{% url 'create_cash_box' %}?type_pay=income&account={{ personal_account.id }}"
               class="btn btn-default btn-sm">
                <span class="hidden-xs"><i class="fa fa-dollar"></i> Принять платеж</span><i
                    class="fa fa-pencil visible-xs" aria-hidden="true"></i>
            </a>
            <a href="{% url 'create_receipt' %}?account={{ personal_account.id }}" class="btn btn-default btn-sm">
                <span class="hidden-xs"><i class="fa fa-files-o"></i> Оформить квитанцию</span><i
                    class="fa fa-pencil visible-xs" aria-hidden="true"></i>
            </a>
            {% else %}
            <button class="btn btn-default btn-sm disabled"
                    data-confirm="Лицевой счет неактивен или не привязан к квартире"><span class="hidden-xs"><i
                    class="fa fa-dollar"></i> Принять платеж</span><i class="fa fa-pencil visible-xs"
                                                                      aria-hidden="true"></i></button>
            <button class="btn btn-default btn-sm disabled"
                    data-confirm="Лицевой счет неактивен или не привязан к квартире"><span class="hidden-xs"><i
                    class="fa fa-files-o"></i> Оформить квитанцию</span><i class="fa fa-pencil visible-xs"
                                                                           aria-hidden="true"></i></button>
            {% endif %}
            <a href="{% url 'update_apartment' apartment.id %}" class="btn btn-primary btn-sm">
                <span class="hidden-xs">Редактировать квартиру</span><i class="fa fa-pencil visible-xs"
                                                                        aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped table-view">
                    <tbody>
                    <tr>
                        <td>Лицевой счет</td>
                        {% if personal_account %}
                        <td>
                            <a href="{% url 'detail_accounts' personal_account.id %}">{{ personal_account }}</a>
                        </td>
                        {% else %}
                        <td>
                            не указано
                        </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Номер квартиры</td>
                        <td>{{ apartment.number }}</td>
                    </tr>
                    <tr>
                        <td>Площадь</td>
                        {% if apartment.area %}
                        <td>{{ apartment.area }}м<sup>2</sup></td>
                        {% else %}
                        <td>
                            не указано
                        </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Дом</td>
                        <td>
                            <a href="{% url 'detail_house' apartment.house_id %}">{{ apartment.house }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Секция</td>
                        <td>{{ apartment.section }}</td>
                    </tr>
                    <tr>
                        <td>Этаж</td>
                        <td>{{ apartment.floor }}</td>
                    </tr>
                    <tr>
                        <td>Владелец</td>
                        <td>
                            <a href="{% url 'detail_owner' apartment.owner_id %}">{{ apartment.owner }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Тариф</td>
                        {% if apartment.tariff %}
                        <td>
                            {{ apartment.tariff }}
                        </td>
                        {% else %}
                        <td>
                            не указано
                        </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
                <div>
                    <p>
                        <a href="{% url 'meter_data_for_apartment' apartment.id %}">Посмотреть показания
                            счетчиков
                        </a>
                    </p>
                    {% if personal_account %}
                    <p>
                        <a href="{% url 'cash_box' %}?account={{ personal_account.id }}">Посмотреть
                            приходы
                        </a>
                    </p>
                    <p>
                        <a href="{% url 'receipts' %}?account={{ personal_account.id }}">Посмотреть квитанции
                        </a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% include 'crm/inc/_messages.html' %}
{% endblock %}