{% extends 'crm/elements/layout.html'%}
{% load static %}
{% block title %}
Квартиры
{% endblock %}

{% block style %}

<style>

    input[name="custom_search"] {
        width: 100%;
        font-weight: normal;
        padding: 5px;
        border: 1px solid #d2d6de;
    }

    input[name="custom_search"]:focus {
        color: #212529;
        border-color: #bdbdbd;
        outline: 0;
    }

    select[name="custom_select"] {
        width: 100%;
        font-weight: normal;
        padding: 5px;
        border: 1px solid #d2d6de;
    }

    select[name="custom_select"] {
        color: #212529;
        border-color: #bdbdbd;
        outline: 0;
    }


</style>
<link rel="stylesheet" href="{% static 'crm/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}


{% block content-header %}
<h1>Квартиры</h1>
<ul class="breadcrumb">
    <li><a href="{% url 'admin'%}"><i class="fa fa-home"></i> Главная</a></li>
    <li class="active">Квартиры</li>
</ul>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="pull-right margin-bottom">
            <a class="btn btn-success" href="{% url 'create_apartment' %}">Добавить квартиру</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
                <div class="box-tools">
                    <a id="clean" class="btn btn-default btn-sm">
                        <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs"
                                                                  aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div id="list_owners" class="grid-view">
                <div class="box-body table-responsive no-padding">
                    <table id="table_owners" class="table table-bordered table-hover table-striped linkedRow">
                        <thead>
                        <tr>
                            <th style="width: 100px; min-width: 100px">№ квартиры</th>
                            <th>Дом</th>
                            <th style="width: 140px; min-width: 140px">Секция</th>
                            <th style="width: 140px; min-width: 140px">Этаж</th>
                            <th style="min-width: 250px">Владелец</th>
                            <th style="min-width: 250px">Остаток</th>
                            <th style="width: 114px; min-width: 114px">&nbsp;</th>
                        </tr>
                        </thead>
                        <tfoot style="display: table-header-group">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for apartment in apartments %}
                        <tr data-href="#" data-key="68">
                            <td>{{ apartment.number }}</td>
                            <td>{{ apartment.house }}</td>
                            <td>{{ apartment.section }}</td>
                            <td>{{ apartment.floor }}</td>
                            <td>{{ apartment.owner.get_full_name }}</td>
                            <td>0</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-default btn-sm"
                                       href="{% url 'update_apartment' apartment.id %}"
                                       title="Редактировать"
                                       data-toggle="tooltip">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-default btn-sm"
                                       title="Удалить"
                                       data-toggle="modal"
                                       data-target="#modal-default-{{ forloop.counter }}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <div class="modal fade"
                             id="modal-default-{{ forloop.counter }}" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title">Удаление владельца</h4>
                                    </div>
                                    <form method="post" action="#">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <p>Вы уверены, что хотите удалить {{ owner.email }} ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left"
                                                    data-dismiss="modal">Отмена
                                            </button>
                                            <button type="submit" class="btn btn-success">Подтвердить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'crm/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'crm/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#table_owners tfoot th').each(function () {
            $(this).html('<input type="text" name="custom_search"/>');
        });

        // DataTable
        var table = $('#table_owners').DataTable({
            "responsive": false,
            'paging': true,
            'lengthChange': false,
            'searching': true,
            'ordering': false,
            'info': true,
            'autoWidth': true,
            "language": {
                "infoFiltered": "(Отфильтровано _MAX_ записей)",
                "zeroRecords": "Записей не найдено",
                "info": "Количество домов: <strong>_TOTAL_</stong>",
                "infoEmpty": "Нет записей.",
                "paginate": {
                    "previous": "Предыдущая",
                    "last": "Последняя",
                    "next": "Следующая"
                }
            },
            initComplete: function () {
                // Apply the search
                this.api()
                    .columns([0, 1, 2, 3, 5, 6])
                    .every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
                //
                this.api()
                    .columns([4, 7, 8])
                    .every(function () {
                        var column = this;
                        var select = $('<select name="custom_select"><option value="">Выберите</option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                column.search(val ? '^' + val + '$' : '', true, false).draw();
                            });

                        column
                            .data()
                            .unique()
                            .sort()
                            .each(function (d, j) {
                                var val = $('<div/>').html(d).text();
                                console.log(val)
                                select.append('<option value="' + val + '">' + val + '</option>');
                            });
                    });
            },
        });
        $("#table_owners_filter").css('display', 'none')
        $("#clean").on("click", function () {
            $('input').val('');
            $('select').val('');
            table.columns().search("").draw();
        })
    });

</script>

{% endblock %}