{% extends 'crm/elements/layout.html'%}
{% load static %}
{% block title %}
Квартира №{{ object.number }},{{ object.house }}
{% endblock %}

{% block style %}
<style>
    .error {
        color: red;
    }
</style>
{% endblock %}


{% block content-header %}
<h1>Квартира №{{ object.number }},{{ object.house }}</h1>
<ul class="breadcrumb">
    <li><a href="{% url 'admin'%}"><i class="fa fa-home"></i> Главная</a></li>
    <li><a href="{% url 'apartments' %}">Квартиры</a></li>
    <li><a href="#">Квартира №{{ object.number }},{{ object.house }}</a></li>
    <li class="active">Редактирование</li>
</ul>
{% endblock %}


{% block content %}
<div class="box">
    <div class="box-body">
        <form id="update_apartment" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-push-6">
                    <div class="form-group">
                        <label class="control-label">Лицевой счет</label>
                        {{ personal_account.number }}
                        {{ personal_account.list_personal_accounts }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                    <div class="form-group">
                        <label class="control-label">Номер квартиры</label>
                        {{ form.number }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Площадь (кв.м.)</label>
                        {{ form.area }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Дом</label>
                        {{ form.house }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Секция</label>
                        {{ form.section }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Этаж</label>
                        {{ form.floor }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Владелец</label>
                        {{ form.owner }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Тариф</label>
                        {{ form.tariff }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <div class="form-group">
                        <a href="{% url 'apartments' %}" class="btn btn-default margin-bottom-15">Отменить</a>
                        <button type="submit"
                                class="btn btn-success margin-bottom-15"
                                name="action_save"
                                value="Сохранить">Сохранить
                        </button>
                        <button type="submit"
                                class="btn btn-success margin-bottom-15 bg-green-active"
                                name="action_save_add"
                                value="Сохранить и добавить новую">Сохранить и добавить новую
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}


<script>

    $(document).ready(function () {

        var select_floor = $("select[name='floor']")
        var select_house = $("select[name='house']")
        var select_section = $("select[name='section']")
        var account_input = $('input[name="account_form-number"]')
        var select_personal_account = $('select[name="account_form-list_personal_accounts"]')


        //Initialize Select2 Elements

        $(function () {
            $('.select2').select2({
                placeholder: "или выберите из списка...",
                language: {
                    noResults: function () {
                        return "Совпавдений не найдено";
                    }
                }
            })
        })

        select_personal_account.on('change', function () {
            $.ajax({
                type: 'GET',
                url: "{% url 'loading_personal_account' %}",
                data: {
                    'id': this.value
                },
                success: function (response) {
                    account_input.val(response.personal_account[0].number);
                },
                error: function (response) {
                    console.log(response.error)
                }
            })
            $(this).val(null);
        })

        select_section.find('option:not([selected])').slice(1).remove();
        select_floor.find('option:not([selected])').slice(1).remove();

        if (select_house.val()) {
            send_ajax(select_house.val(), true)
        }


        select_house.on('change', function () {
            if (this.value) {
                send_ajax(this.value, false);
            } else {
                select_section.find('option').slice(1).remove();
                select_floor.find('option').slice(1).remove();
            }
        });

        function send_ajax(data, flag) {
            $.ajax({
                type: "GET",
                url: "{% url 'loading_floor_section' %}",
                data: {
                    'house_id': data,
                },
                success: function (response) {
                    section_select(response.section, flag)
                    floor_select(response.floor, flag)
                },
                error: function (response) {
                    console.log(response.error)
                }
            })
        }


        function section_select(data, flag) {
            if (flag) {
                select_section.find('option:not([selected])').slice(1).remove();
            } else {
                select_section.find('option').slice(1).remove();
            }
            for (section in data) {
                if (!select_section.find('option[value="' + data[section].id + '"]').length) {
                    select_section.append(
                        '<option value="' + data[section].id + '">' + data[section].title + '</option>\n'
                    )
                }
            }
        }

        function floor_select(data, flag) {
            if (flag) {
                select_floor.find('option:not([selected])').slice(1).remove();
            } else {
                select_floor.find('option').slice(1).remove();
            }
            select_floor.find('option:not([selected])').slice(1).remove();
            for (floor in data) {
                if (!select_floor.find('option[value="' + data[floor].id + '"]').length) {
                    select_floor.append(
                        '<option value="' + data[floor].id + '">' + data[floor].title + '</option>\n'
                    )
                }
            }
        }
    });


</script>
<script>

    //  jQuery Validations Form

    $('#update_apartment').validate({
        rules: {
            number: {
                required: true,
            },
            house: {
                required: true,
            },
            section: {
                required: true,
            },
            floor: {
                required: true,
            },
            owner: {
                required: true,
            },
            'account_form-number': {
                required: true,
            }


        },
        messages: {
            number: {
                required: "Обязательное поле",
            },
            house: {
                required: "Обязательное поле",
            },
            section: {
                required: "Обязательное поле",
            },
            floor: {
                required: "Обязательное поле",
            },
            owner: {
                required: "Обязательное поле",
            },
            'account_form-number': {
                required: "Обязательное поле",
            },


        },
        errorElement: 'span',
        highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
    });


</script>

{% include 'crm/inc/_messages.html' %}

{% endblock %}