{% extends 'crm/elements/layout.html'%}
{% load static %}
{% block title %}
Показание счетчикa
{% endblock %}

{% block style %}
{% endblock %}


{% block content-header %}
<h1>Показание счетчикa</h1>
<ul class="breadcrumb">
    <li><a href="{% url 'admin' %}"><i class="fa fa-home"></i> Главная</a></li>
    <li><a href="{% url 'meter_data' %}">Счетчики</a></li>
    <li>
        <a href="{% url 'meter_data_for_apartment' object.apartment.id %}">
        Показания счетчиков, кв.{{ object.apartment }}</a>
    </li>
    <li><a href="{% url 'detail_meter_data' object.id %}">Показания счетчика № {{ object.number }}</a></li>
    <li class="active">Редактирование</li>
</ul>
{% endblock %}


{% block content %}
<form id="create_meter_data" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
            <div class="page-header-spec">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            №
                        </div>
                        {{ form.number }}
                    </div>
                </div>
                <span class="label-mid">от</span>
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        {{ form.date }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Дом</label>
                        {{ form.house }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Секция</label>
                        {{ form.section }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Квартира</label>
                        {{ form.apartment }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Счетчик</label>
                        {{ form.counter }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Статус</label>
                        {{ form.status }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Показания счетчика</label>
                        {{ form.indications }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <div class="form-group">
                        <a href="{% url 'meter_data_for_apartment' object.apartment.id %}"
                           class="btn btn-default margin-bottom-15">Отменить
                        </a>
                        <button type="submit"
                                class="btn btn-success margin-bottom-15"
                                name="action_save">
                            Сохранить
                        </button>
                        <button type="submit"
                                class="btn btn-success margin-bottom-15 bg-green-active"
                                name="action_save_add">
                            Сохранить и добавить новые показания
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script>


    $(document).ready(function () {
        var select_house = $("select[name='house']")
        var select_section = $("select[name='section']")
        var select_apartment = $("select[name='apartment']")


        if (select_house.val()) {
            select_apartment.find('option:not([selected])').slice(1).remove();
            select_section.find('option:not([selected])').slice(1).remove();
            send_ajax_for_section(select_house.val(), true)
        } else {
            select_apartment.find('option:not([selected])').remove();
            select_section.find('option:not([selected])').remove();
        }


        select_house.on("change", function () {
            select_apartment.find('option').slice(1).remove();
            if (this.value) {
                send_ajax_for_section(this.value, false)
            } else {
                select_section.find('option').slice(1).remove();
                select_apartment.find('option').slice(1).remove();
            }
        })

        select_section.on('change', function () {
            if (this.value) {
                send_ajax_for_apartment(this.value, false)
            } else {
                select_apartment.find('option').slice(1).remove();
                select_apartment.find('option').slice(1).remove();
            }
        })


        function send_ajax_for_section(data, flag) {
            $.ajax({
                type: "GET",
                url: "{% url 'loading_section_for_house' %}",
                data: {
                    'house_id': data,
                },
                success: function (response) {
                    section_select(response.section, flag)
                },
                error: function (response) {
                    console.log(response.error)
                }
            })
        }

        function send_ajax_for_apartment(data, flag) {
            $.ajax({
                type: "GET",
                url: "{% url 'loading_apartment_for_section' %}",
                data: {
                    'section_id': data,
                },
                success: function (response) {
                    apartment_select(response.apartment, flag)
                },
                error: function (response) {
                    console.log(response.error)
                }
            })
        }


        function section_select(data, flag) {
            if (flag) {
                select_section.find('option:not([selected])').slice(1).remove();
            } else {
                select_section.find('option').slice(1).remove();
            }
            for (section in data) {
                if (!select_section.find('option[value="' + data[section].id + '"]').length) {
                    select_section.append(
                        '<option value="' + data[section].id + '">' + data[section].title + '</option>\n'
                    )
                }
            }
        }

        function apartment_select(data, flag) {
            if (flag) {
                select_apartment.find('option:not([selected])').slice(1).remove();
            } else {
                select_apartment.find('option').slice(1).remove();
            }
            for (apartment in data) {
                if (!select_apartment.find('option[value="' + data[apartment].id + '"]').length) {
                    select_apartment.append(
                        '<option value="' + data[apartment].id + '">' + data[apartment].number + '</option>\n'
                    )
                }
            }
        }

        //  jQuery Validations Form
        $('#create_meter_data').validate({
            rules: {
                number: {
                    required: true,
                    minlength: 8,
                },
                apartment: {
                    required: true,
                },
                indications: {
                    required: true,
                },
                counter: {
                    required: true,
                }
            },
            messages: {
                number: {
                    required: "Обязательное поле",
                    minlength: 'Пожалуйста, введите не менее 11 символов.'
                },
                apartment: {
                    required: "Обязательное поле",
                },
                indications: {
                    required: "Обязательное поле",
                },
                counter: {
                    required: "Обязательное поле",
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                element.closest('.form-group').append(error);
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
        });
    });

</script>
<script>

    !function (a) {
        a.fn.datepicker.dates.ru = {
            days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
            daysShort: ["Вск", "Пнд", "Втр", "Срд", "Чтв", "Птн", "Суб"],
            daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
            months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
            monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
            today: "Сегодня",
            clear: "Очистить",
            format: "dd.mm.yyyy",
            weekStart: 1,
            monthsTitle: "Месяцы"
        }
    }(jQuery);


    $('#id_date').datepicker({
        format: 'dd.mm.yyyy',
        startDate: '-100y',
        default: 'date',
        language: 'ru'
    });


</script>

{% endblock %}