{% extends 'user/elements/layout.html' %}


{% block title %}
Подтверждения электронной почты
{% endblock %}


{% block login %}
<div class="panel box box-primary">
    <div class="register-box-body box-primary">
        <p class="login-box-msg">Подтверждения электронной почты</p>
        <div class="text-center">
            <p>На адрес электронной почты, указанный при регестрации, отправлено письмо
                для активации</p>
            <p>Пожалуйста проверьте свою почту чтобы завершить регистрацию</p>
        </div>
    </div>

</div>

{% endblock %}


{% block script %}
{% endblock %}



