{% extends 'user/elements/layout.html' %}

{% load recaptcha3 %}


{% block title %}
{{ block.super }}
{% endblock %}

{% block style %}
{% recaptcha_init %}
{% recaptcha_ready action_name='homepage' %}
<style>
    .errorlist {
        color: red;
    }


</style>
{% endblock %}

{% block login %}
<div class="card card-primary card-outline card-outline-tabs">
    <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link"
                   data-toggle="tab"
                   value="cabinet"
                   id="cabinet-link"
                   href="#cabinet"
                   aria-expanded="true">Для жильца</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   data-toggle="tab"
                   value="admin"
                   id="admin-link"
                   href="#admin"
                   aria-expanded="true">Для администрации</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="cabinet">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Вход в личный кабинет</p>
                <form action="{% url 'login' %}" id="cabinet_form" method="post">
                    {% csrf_token %}
                    {{ form.captcha }}
                    {{ form.non_field_errors }}
                    <div class="input-group mb-3">
                        {{ form.username }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.password }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <div class="custom-control custom-checkbox">
                                    {{ form.remember_me }}
                                    <label class="form-check-label" for="checkbox1">Запомнить меня</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="redirect" value="{% url 'cabinet' %}"/>
                    <button type="submit" id="sub_cabinet" class="btn btn-block btn-primary">
                        Вход
                    </button>
                </form>
            </div>
        </div>
        <div class="tab-pane" id="admin">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Вход в панель управления</p>
                <form action="{% url 'login' %}" id="admin_form" method="POST">
                    {% csrf_token %}
                    {{ form.captcha }}
                    {{ form.non_field_errors }}
                    <div class="input-group mb-3">
                        {{ form.username }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.password }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <div class="custom-control custom-checkbox">
                                    {{ form.remember_me2 }}
                                    <label class="form-check-label" for="checkbox2">Запомнить меня</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="redirect" value="{% url 'admin' %}"/>
                    <button type="submit" class="btn btn-block btn-primary" value="admin">
                        Вход
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.login-card-body -->
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
        integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</script>

<script>

    $('.nav-link').on('click', function () {
        const value = $(this).attr('value');
        localStorage.setItem('active_tabs', value)
    })

    if (localStorage.getItem('active_tabs')) {
        $('#' + localStorage.getItem('active_tabs') + '').addClass('active');
        $('#' + localStorage.getItem('active_tabs') + '-link').addClass('active');
    } else {
        $('#cabinet').addClass('active');
        $('#cabinet-link').addClass('active');
    }


    $("#cabinet input[name=password]").attr('id', 'password_cabinet');
    $("#cabinet input[name=username]").attr('id', 'name_cabinet').attr('placeholder', 'E-mail или ID')


    $(function () {
        $('#cabinet_form').validate({
            rules: {
                username: {
                    required: true,
                },
                password: {
                    required: true,
                },
            },
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element) {
                $(element).removeClass('is-invalid');
            }
        });

        $('#admin_form').validate({
            rules: {
                username: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                },
            },
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element) {
                $(element).removeClass('is-invalid');
            }
        });
    });


</script>
{% endblock %}



