{% extends 'crm/elements/layout.html'%}
{% load static %}
{% block title %}
Лицевые счета
{% endblock %}

{% block style %}

<style>

    input[name="custom_search"] {
        width: 100%;
        font-weight: normal;
        padding: 5px;
        border: 1px solid #d2d6de;
    }

    input[name="custom_search"]:focus {
        color: #212529;
        border-color: #bdbdbd;
        outline: 0;
    }

    select[name="custom_select"] {
        width: 100%;
        font-weight: normal;
        padding: 5px;
        border: 1px solid #d2d6de;
    }

    select[name="custom_select"] {
        color: #212529;
        border-color: #bdbdbd;
        outline: 0;
    }

    #export:hover{
        cursor: pointer;
    }


</style>
<link rel="stylesheet" href="{% static 'crm/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}


{% block content-header %}
<h1>Лицевые счета</h1>
<ul class="breadcrumb">
    <li><a href="{% url 'admin'%}"><i class="fa fa-home"></i> Главная</a></li>
    <li class="active">Лицевые счета</li>
</ul>
{% endblock %}


{% block content %}
<div class="row">
    <!--<div class="col-xs-12 col-sm-6">-->
    <!--<h2 class="page-header">Квартиры</h2>-->
    <!--</div>-->
    <div class="col-xs-12 col-lg-9">

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-green overflow-hidden">
                    <div class="inner">
                        <h3>0</h3>
                        <p>Состояние кассы</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-dollar"></i>
                    </div>
                    <!--<span class="small-box-footer">&nbsp;</span>-->
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-blue overflow-hidden">
                    <div class="inner">
                        <h3>0</h3>
                        <p>Баланс по счетам</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-dollar"></i>
                    </div>
                    <!--<span class="small-box-footer">&nbsp;</span>-->
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="small-box bg-red overflow-hidden">
                    <div class="inner">
                        <h3>0</h3>
                        <p>Задолженность по счетам</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-dollar"></i>
                    </div>
                    <!--<span class="small-box-footer">&nbsp;</span>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-3">
        <div class="btn-group pull-right margin-bottom">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Выберите действие <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{% url 'create_accounts' %}">Добавить лицевой счет</a></li>
                <li><a id="export">Выгрузить в Excel</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
                <div class="box-tools">
                    <a id="clean" class="btn btn-default btn-sm">
                        <span class="hidden-xs">Очистить</span>
                        <i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div id="list_accounts" class="grid-view">
                <div class="box-body table-responsive no-padding">
                    <table id="table_accounts" class="table table-bordered table-hover table-striped linkedRow">
                        <thead>
                        <tr>
                            <th style="width: 80px; min-width: 80px">№</th>
                            <th style="width: 150px; min-width:150px">Статус</th>
                            <th style="width: 140px; min-width: 140px">Квартира</th>
                            <th style="width: 200px; min-width: 200px">Дом</th>
                            <th style="width: 200px; min-width: 200px">Секция</th>
                            <th style="width: 200px; min-width: 200px">Владелец</th>
                            <th style="width: 100px; min-width: 100px">Остаток</th>
                            <th style="width: 114px; min-width: 114px">&nbsp;</th>
                        </tr>
                        </thead>
                        <tfoot style="display: table-header-group">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for account in accounts %}
                        <tr data-href="{% url 'detail_accounts' account.id %}">
                            <td>{{ account.number }}</td>
                            {% if account.status == 'active' %}
                            <td><small class="label label-success">Активен</small></td>
                            {% else %}
                            <td><small class="label label-danger">Неактивен</small></td>
                            {% endif %}
                            {% if account.apartment %}
                            {% with account.apartment as apartment %}
                            <td>{{ apartment.number }}</td>
                            <td>{{ apartment.house }}</td>
                            <td>{{ apartment.section }}</td>
                            <td>{{ apartment.owner }}</td>
                            {% endwith %}
                            {% else %}
                            <td>(не задано)</td>
                            <td>(не задано)</td>
                            <td>(не задано)</td>
                            <td>(не задано)</td>
                            {% endif %}
                            <td>0</td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-default btn-sm"
                                       href="{% url 'update_accounts' account.id %}"
                                       title="Редактировать"
                                       data-toggle="tooltip">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-default btn-sm"
                                       title="Удалить"
                                       data-toggle="modal"
                                       data-target="#modal-default-{{ forloop.counter }}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <div class="modal fade"
                             id="modal-default-{{ forloop.counter }}" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title">Удаление лицевого счета</h4>
                                    </div>
                                    <form method="post" action="{% url 'delete_accounts' account.id %}">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <p>Вы уверены, что хотите удалить лицевой счет №{{ account }} ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left"
                                                    data-dismiss="modal">Отмена
                                            </button>
                                            <button type="submit" class="btn btn-success">Подтвердить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'crm/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'crm/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>


<script>


    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#table_accounts tfoot th').each(function () {
            $(this).html('<input type="text" name="custom_search"/>');
        });


        // DataTable
        var table = $('#table_accounts').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel'
            ],
            "responsive": false,
            'paging': true,
            'lengthChange': false,
            'searching': true,
            'ordering': false,
            'info': true,
            'autoWidth': true,
            "language": {
                "infoFiltered": "(Отфильтровано _MAX_ записей)",
                "zeroRecords": "Записей не найдено",
                "info": "Количество домов: <strong>_TOTAL_</stong>",
                "infoEmpty": "Нет записей.",
                "paginate": {
                    "previous": "Предыдущая",
                    "last": "Последняя",
                    "next": "Следующая"
                }
            },
            initComplete: function () {
                // Apply the search
                this.api()
                    .columns([0, 2])
                    .every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
                //
                this.api()
                    .columns([1, 3, 4, 5, 6])
                    .every(function () {
                        var column = this;
                        var select = $('<select name="custom_select"><option value="">Выберите</option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                column.search(val ? '^' + val + '$' : '', true, false).draw();
                            });

                        column
                            .data()
                            .unique()
                            .sort()
                            .each(function (d) {
                                var val = $('<div/>').html(d).text();
                                select.append('<option value="' + val + '">' + val + '</option>');
                            });
                    });
            },
        });
        $('.buttons-excel').css('display', 'none')

        $('#export').on("click", function () {
            table.buttons('.buttons-excel').trigger('click');
        })

        $("#table_accounts_filter").css('display', 'none')
        $("#clean").on("click", function () {
            $('input').val('');
            $('select').val('');
            table.columns().search("").draw();
        })
    });

</script>

{% endblock %}