{% extends 'crm/elements/layout.html'%}
{% load static %}
{% block title %}
Редактирование страницы
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'crm/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
{% endblock %}


{% block content-header %}
<h1>Редактирование страницы</h1>

<ul class="breadcrumb">
    <li><a href="{% url 'admin' %}"><i class="fa fa-home"></i> Главная</a></li>
    <li class="active">Редактирование страницы</li>
</ul>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Редактирование страницы "Главная"</h3>
                <div class="box-tools">
                    <a href="/admin/website/update-seo-files"
                       class="btn btn-default btn-sm updateSeoFiles">
                        <span class="hidden-xs">Обновить robots и sitemap</span>
                        <i class="fa fa-refresh visible-xs" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <form id="home_page" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 class="page-header">Слайдер</h3>
                    <div class="row site-main-slider">
                        <div class="col-md-4">
                            <h4>Слайд 1</h4>
                            <img src="{{ object.slide1.url }}"
                                 alt="" class="img-responsive margin-bottom-15">
                            <div class="form-group">
                                <label class="control-label">Рекомендуемый размер: (1920x800)</label>
                                {{ form.slide1 }}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <h4>Слайд 2</h4>
                            <img src="{{ object.slide2.url }}"
                                 alt="" class="img-responsive margin-bottom-15">
                            <div class="form-group">
                                <label class="control-label">Рекомендуемый размер: (1920x800)</label>
                                {{ form.slide2 }}
                            </div>

                        </div>
                        <div class="col-md-4">
                            <h4>Слайд 3</h4>
                            <img src="{{ object.slide3.url }}"
                                 alt="" class="img-responsive margin-bottom-15">
                            <div class="form-group">
                                <label class="control-label">Рекомендуемый размер: (1920x800)</label>
                                {{ form.slide3 }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="page-header">Краткая информация</h3>
                            <div class="form-group ">
                                <label class="control-label">Заголовок</label>
                                {{ form.title }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Краткий текст</label>
                                {{ form.description }}
                            </div>
                            <div class="form-group">
                                {{ form.is_show_link }}
                                <label> Показать ссылки на приложения</label>
                                <div class="help-block"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row near-img">
                        <div class="col-xs-12">
                            <h3 class="page-header">Рядом с нами</h3>
                        </div>
                        {% with content_block_form as forms %}
                        {{ forms.management_form }}
                        {% for form in forms %}
                        <div class="col-md-4">
                            <h4>Блок 1</h4>
                            <img src="{{ form.instance.image.url }}"
                                 alt="" class="img-responsive margin-bottom-15">

                            <div class="form-group">
                                {{ form.id }}
                            </div>
                            <div class="form-group ">
                                <label class="control-label">Рекомендуемый размер: (1000x600)</label>
                                {{ form.image }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Заголовок блока</label>
                                {{ form.title }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Описание </label>
                                {{ form.description }}
                            </div>
                        </div>
                        {% endfor %}
                        {% endwith %}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="page-header">Настройки SEO</h3>
                            {% with seo_block_form as form %}
                            <div class="form-group ">
                                <label class="control-label">Title</label>
                                {{ form.title }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                {{ form.description }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Keywords</label>
                                {{ form.keywords }}
                            </div>
                            {% endwith %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                <a href="/admin/website/home" class="btn btn-default">Отменить</a>
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'crm/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
<script>
    // WYSIHTML5

    !function ($) {
        $.fn.wysihtml5.locale["ru-RU"] = {
            font_styles: {
                normal: "Обычный текст",
                h1: "Заголовок 1",
                h2: "Заголовок 2",
                h3: "Заголовок 3",
                h4: "Заголовок 4",
                h5: "Заголовок 5",
                h6: "Заголовок 6"

            },
            emphasis: {
                bold: "Полужирный",
                italic: "Курсив",
                underline: "Подчёркнутый"
            },
            lists: {
                unordered: "Маркированный список",
                ordered: "Нумерованный список",
                outdent: "Уменьшить отступ",
                indent: "Увеличить отступ"
            }
        };
    }(jQuery);

    $('textarea[name=description]').wysihtml5({
        useLineBreaks: false,
        locale: 'ru-RU',
        toolbar: {
            "font-styles": true,
            "emphasis": true,
            "lists": true,
            "html": false,
            "link": false,
            "image": false,
            "color": false,
            "blockquote": false,
            "fa": true,
            "size": 'none'
        }
    })

    $('.content_des').wysihtml5({
        useLineBreaks: false,
        locale: 'ru-RU',
        toolbar: {
            "font-styles": true,
            "emphasis": true,
            "lists": true,
            "html": false,
            "link": false,
            "image": false,
            "color": false,
            "blockquote": false,
            "fa": true,
            "size": 'none'
        }
    })
    //


</script>
{% endblock %}