{% extends 'crm/elements/layout.html'%}
{% load static %}
{% block title %}
Профиль владельца
{% endblock %}

{% block style %}
<link rel="stylesheet"
      href="{% static 'crm/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'crm/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}


{% block content-header %}
<h1>Профиль владельца</h1>
<ul class="breadcrumb">
    <li><a href="{% url 'admin'%}"><i class="fa fa-home"></i> Главная</a></li>
    <li><a href="{% url 'owners'%}">Владельцы квартир</a></li>
    <li class="active">Профиль владельца</li>
</ul>
{% endblock %}


{% block content %}
<div class="box">
    <div class="box-body">
        <form id="create_owner" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="userAvatar">
                        {% if user.profile_picture %}
                        <img class="img-circle pull-left img-responsive"
                             style="width: 160px; height: 160px"
                             alt="user_picture"
                             src="{{ user.profile_picture.url }}">
                        {% else %}
                        <img class="img-circle pull-left img-responsive"
                             style="width: 160px; height: 160px"
                             alt="user_picture"
                             src="{% static 'crm/media/def_user.jpeg' %}">
                        {% endif %}
                        <div class="form-group">
                            <label class="control-label">Сменить изображение</label>
                            {{ form.profile_picture }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="id_status">Статус</label>
                        {{ form.status }}

                    </div>
                    <div class="form-group field-userform-uid">
                        <label class="control-label">ID</label>
                        {{ form.user_id }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Фамилия</label>
                        {{ form.last_name }}
                    </div>
                    <div class="form-group field-userform-firstname">
                        <label class="control-label">Имя</label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Отчество</label>
                        {{ form.patronymic }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Дата рождения</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            {{ form.date_of_birth }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label class="control-label">О владельце (заметки)</label>
                        {{ form.about_owner }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h2 class="page-header">Контактные данные</h2>
                    <div class="form-group">
                        <label class="control-label">Телефон</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            {{ form.phone }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Viber</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            {{ form.viber }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Telegram</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            {{ form.telegram }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email (логин)</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            {{ form.username }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h2 class="page-header">Изменить пароль</h2>
                    <div class="form-group field-userform-password">
                        <label class="control-label">Пароль</label>
                        <div class="input-group">
                            {{ form.new_password1 }}
                            <span class="input-group-btn">
                        <button class="btn btn-default"
                                type="button"
                                onclick="generatePassword()">
                            Сгенерировать
                        </button>
                        <button type="button" class="btn btn-primary" id="showPass">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </span>
                        </div>

                    </div>
                    <div class="form-group ">
                        <label class="control-label">Повторить пароль</label>
                        {{ form.new_password2 }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <a href="{% url 'owners' %}" class="btn btn-default">Отменить</a>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>

        </form>
        <script>
            function generatePassword() {
                const password = Math.random().toString(36).slice(-8);
                $('input[name="new_password1"]').val(password);
                $('input[name="new_password2"]').val(password);
            }
        </script>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'crm/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script>

    !function (a) {
        a.fn.datepicker.dates.ru = {
            days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
            daysShort: ["Вск", "Пнд", "Втр", "Срд", "Чтв", "Птн", "Суб"],
            daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
            months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
            monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
            today: "Сегодня",
            clear: "Очистить",
            format: "dd.mm.yyyy",
            weekStart: 1,
            monthsTitle: "Месяцы"
        }
    }(jQuery);


    $('#id_date_of_birth').datepicker({
        format: 'dd.mm.yyyy',
        startDate: '-100y',
        endDate: '+0d',
        language: 'ru'
    });

</script>
<script>

    $('#create_owner').validate({
        // submitHandler: function (form) {
        //     form.submit();
        // },
        rules: {
            user_id: {
                required: true,
                minlength: 5
            },
            username: {
                required: true,
                email: true
            },

        },
        messages: {
            user_id: {
                required: "",
                minlength: "Пожалуйста, введите не менее 5 символов."
            },
            username: {
                required: "",
                email: ""
            },
        },
        errorElement: 'span',
        highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
    });
</script>
{% include 'crm/inc/_messages.html' %}
{% endblock %}