<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 898px;">
    <section class="sidebar" style="overflow: hidden; width: auto; height: 898px;">
        {% with request.resolver_match.url_name as url %}
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="{% if url in '[admin]' %}active{% endif %}">
                <a href="/admin/">
                    <i class="fa fa-line-chart"></i>
                    <span>Статистика</span>
                </a>
            </li>
            <li><a href="/admin/account-transaction/index"><i class="fa fa-dollar"></i> <span>Касса</span></a>
            </li>
            <li><a href="/admin/invoice/index"><i class="fa fa-files-o"></i>
                <span>Квитанции на оплату</span></a></li>
            <li class="{% if url in '[accounts, create_accounts, update_accounts, detail_accounts]' %}active{% endif %}">
                <a href="{% url 'accounts' %}">
                    <i class="fa fa-credit-card"></i>
                    <span>Лицевые счета</span>
                </a>
            </li>
            <li class="{% if url in '[apartments, create_apartment, update_apartment, detail_apartment]' %}active{% endif %}">
                <a href="{% url 'apartments' %}">
                    <i class="fa fa-key"></i>
                    <span>Квартиры</span>
                </a>
            </li>
            <li class="{% if url in '[owners, create_owner, update_owner, detail_owner, invite_owner]' %}active{% endif %}">
                <a href="{% url 'owners' %}">
                    <i class="fa fa-users"></i>
                    <span>Владельцы квартир</span>
                </a>
            </li>
            {% if request.user.role.houses %}
            <li class="{% if url in '[houses, create_house, update_house, detail_house]' %}active{% endif %}">
                <a href="{% url 'houses' %}">
                    <i class="fa fa-building"></i>
                    <span>Дома</span>
                </a>
            </li>
            {% endif %}
            <li><a href="/admin/message/index"><i class="fa fa-envelope-o"></i> <span>Сообщения</span></a></li>
            <li class="{% if url in '[master_calls, detail_master_call]' %}active{% endif %}">
                <a href="{% url 'master_calls' %}">
                    <i class="fa fa-wrench"></i>
                <span>Заявки вызова мастера</span>
                </a>
            </li>
            <li class="{% if url in '[meter_data, create_meter_data, meter_data_for_apartment, create_meter_data_for_apartment, update_meter_data, detail_meter_data]' %}active{% endif %}">
                <a href="{% url 'meter_data' %}">
                    <i class="fa fa-dashboard"></i>
                    <span>Показания счетчиков</span>
                </a>
            </li>
            <li class="treeview"><a href="#!"><i class="fa fa-desktop"></i> <span>Управление сайтом</span> <span
                    class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                <ul class="treeview-menu">
                    <li><a href="/admin/website/home"><i class="fa fa-circle-o"></i>
                        <span>Главная страница</span></a></li>
                    <li><a href="/admin/website/about"><i class="fa fa-circle-o"></i> <span>О нас</span></a>
                    </li>
                    <li><a href="/admin/website/services"><i class="fa fa-circle-o"></i> <span>Услуги</span></a>
                    </li>
                    <li><a href="/admin/website/tariffs"><i class="fa fa-circle-o"></i> <span>Тарифы</span></a>
                    </li>
                    <li><a href="/admin/website/contact"><i class="fa fa-circle-o"></i>
                        <span>Контакты</span></a></li>
                </ul>
            </li>
            <li class="treeview
                       {% if url in '[services, tariffs, detail_tariff, create_tariff, update_tariff, create_copy_tariff, roles, requisites, users, detail_user, update_user, create_user, payment_items, create_payment_items, detail_payment_items, update_payment_items]' %}
                       active
                       {% endif %}">
                <a href="#"><i class="fa fa-cogs"></i>
                    <span>Настройки системы</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if url in '[services]' %}active{% endif %}">
                        <a href="{% url 'services' %}">
                            <i class="fa fa-briefcase"></i>
                            <span>Услуги</span>
                        </a>
                    </li>
                    <li class="
                    {% if url in '[tariffs, detail_tariff, create_tariff, update_tariff, create_copy_tariff]' %}active{% endif %}">
                        <a href="{% url 'tariffs' %}">
                            <i class="fa fa-money"></i>
                            <span>Тарифы</span>
                        </a>
                    </li>
                    <li class="{% if url in '[roles]' %}active{% endif %}">
                        <a href="{% url 'roles' %}">
                            <i class="fa fa-user"></i>
                            <span>Роли</span>
                        </a>
                    </li>
                    <li class="{% if url in '[users, detail_user, update_user, create_user]' %}active{% endif %}">
                        <a href="{% url 'users' %}">
                            <i class="fa fa-user-plus"></i>
                            <span>Пользователи</span>
                        </a>
                    </li>
                    <li class="{% if url in '[requisites]' %}active{% endif %}">
                        <a href="{% url 'requisites' %}">
                            <i class="fa fa-credit-card"></i>
                            <span>Платежные реквизиты</span>
                        </a>
                    </li>
                    <li class="{% if url in '[payment_items, create_payment_items, detail_payment_items, update_payment_items]' %}active{% endif %}">
                        <a href="{% url 'payment_items' %}">
                            <i class="fa fa-list-ol"></i>
                            <span>Статьи платежей</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        {% endwith %}
    </section>
    <div class="slimScrollBar"
         style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 898px;"></div>
    <div class="slimScrollRail"
         style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
</div>
