{% extends 'crm/elements/layout.html'%}
{% load static %}
{% load floattags %}

{% block title %}
Квитанция
{% endblock %}

{% block style %}
{% endblock %}


{% block content-header %}
<h1>Квитанция</h1>
<ul class="breadcrumb">
    <li><a href="{% url 'admin' %}"><i class="fa fa-home"></i> Главная</a></li>
    <li><a href="{% url 'receipts' %}">Квитанции</a></li>
    <li class="active">
        Квитанция №{{ receipt.number }}
    </li>
</ul>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-7 col-lg-6">
        <div class="page-header-spec">
            <div class="form-group">
                <div class="input-group date">
                    <div class="input-group-addon">
                        №
                    </div>
                    <div class="form-control pull-right">{{ receipt.number }}</div>
                </div>
            </div>
            <span class="label-mid">от</span>
            <div class="form-group">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </div>
                    <div class="form-control pull-right">{{ receipt.date|date:"d.m.Y" }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Просмотр квитанции</h3>
        <div class="box-tools">
            <a href="{% url 'template_receipt' receipt.id %}" class="btn btn-default btn-sm">
                <span class="hidden-xs">Печать</span>
                <i class="fa fa-print visible-xs" aria-hidden="true"></i>
            </a>
            <a href="{% url 'template_receipt' receipt.id %}" class="btn btn-default btn-sm">
                <span class="hidden-xs">Отправить на e-mail</span>
                <i class="fa fa-envelope-o visible-xs" aria-hidden="true"></i>
            </a>
            <a href="{% url 'update_receipt' receipt.id %}" class="btn btn-primary btn-sm">
                <span class="hidden-xs">Редактировать квитанцию</span>
                <i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped table-view">
            <tbody>
            <tr>
                <td>Проведена</td>
                {% if receipt.status %}
                <td>
                    <small class="label label-success">Проведена</small>
                </td>
                {% else %}
                <td>
                    <small class="label label-danger">Не проведена</small>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>Статус</td>
                {% if receipt.status_pay == 'paid' %}
                <td><small class="label label-success">Оплачена</small></td>
                {% elif receipt.status_pay == 'partially_paid' %}
                <td><small class="label label-warning">Частично</small></td>
                {% elif receipt.status_pay == 'not_paid' %}
                <td><small class="label label-danger">Неоплачен</small></td>
                {% endif %}
            </tr>
            <tr>
                <td>Период</td>
                <td>
                    {{ receipt.date_start|date:"d.m.Y" }} - {{ receipt.date_end|date:"d.m.Y" }}
                </td>
            </tr>
            <tr>
                <td>Владелец</td>
                <td>
                    <a href="{% url 'detail_owner' receipt.apartment.owner_id %}">
                        {{ receipt.apartment.owner }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Лицевой счет</td>
                <td>
                    <a href="{% url 'detail_accounts' personal_account.id %}">
                        {{ personal_account }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Телефон</td>
                {% if receipt.apartment.owner.phone %}
                <td>{{ receipt.apartment.owner.phone }}</td>
                {% else %}
                <td>не указано</td>
                {% endif %}
            </tr>
            <tr>
                <td>Дом</td>
                <td>
                    <a href="{% url 'detail_house' receipt.apartment.house_id %}">
                        {{ receipt.apartment.house.title }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Квартира</td>
                <td>
                    <a href="{% url 'detail_apartment' receipt.apartment_id %}">
                        {{ receipt.apartment.number }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Секция</td>
                <td>{{ receipt.apartment.section.title }}</td>
            </tr>
            <tr>
                <td>Тариф</td>
                <td>
                    <a href="{% url 'detail_tariff' receipt.tariff_id %}">
                        {{ receipt.tariff.title }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-responsive no-padding margin-top-15">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th style="width: 40px; min-width: 40px;">#</th>
                    <th>Услуга</th>
                    <th>Количество потребления (расход)</th>
                    <th style="width: 80px; min-width: 80px;">Ед. изм.</th>
                    <th>Цена за ед., грн</th>
                    <th>Стоимость, грн</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="5"></td>
                    <td colspan="2">
                        <b>Итого:
                            {% if sum.sum %}
                            {{ sum.sum|floatformat:"2g"|formatted_float }}
                            {% else %}
                            0.00
                            {% endif %}
                        </b>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                {% for service in services %}
                <tr role="row">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ service.services }}</td>
                    <td>{{ service.quantity|floatformat:"2g"|formatted_float }}</td>
                    <td>{{ service.services.u_measurement }}</td>
                    <td>{{ service.price|floatformat:"2g"|formatted_float }}</td>
                    <td>{{ service.cost|floatformat:"2g"|formatted_float }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}