{% extends 'crm/elements/layout.html'%}
{% load static %}
{% load floattags %}


{% block title %}
Квитанция
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'crm/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">

{% endblock %}


{% block content-header %}
<h1>Квитанция</h1>
<ul class="breadcrumb">
    <li><a href="{% url 'admin' %}"><i class="fa fa-home"></i> Главная</a></li>
    <li><a href="{% url 'receipts' %}">Квитанции</a></li>
    <li><a href="{% url 'detail_receipt' object.id %}">Квитанции №{{ object.number }}</a></li>
    <li class="active">Редактирование</li>
</ul>
{% endblock %}


{% block content %}
<div class="receipt-create">
    <form id="receipt-form" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-md-7 col-lg-6">
                <div class="page-header-spec">
                    <div class="form-group field-invoice-uid required">
                        <div class="input-group">
                            <div class="input-group-addon">
                                №
                            </div>
                            {{ form.number }}
                        </div>
                    </div>
                    <span class="label-mid">от</span>
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            {{ form.date }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-lg-6">
                <div class="btn-group pull-right margin-bottom">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Выберите действие <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#!" class="set-tariff-services">Выставить все услуги согласно тарифу</a></li>
                        <li><a href="#!" class="add-counters">Добавить показания счетчиков</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Дом</label>
                            {{ form.house }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Секция</label>
                            {{ form.section }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Квартира</label>
                            {{ form.apartment }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            {{ form.status }}
                            <label>Проведен</label>
                        </div>
                        <div class="form-group field-invoice-status required">
                            <label class="control-label">Статус</label>
                            {{ form.status_pay }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Тариф</label>
                            {{ form.tariff }}
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Период с</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        {{ form.date_start }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Период по</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        {{ form.date_end }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Лицевой счет</label>
                            {{ form.personal_accounts }}
                        </div>
                        {% if object.apartment.owner %}
                        <p>
                            <b>Владелец:</b>
                            <span id="owner-fullname">
                                <a href="{% url 'detail_owner' object.apartment.owner.id %}">
                                    {{ object.apartment.owner }}
                                </a>
                            </span>
                        </p>
                        {% else %}
                        <p><b>Владелец:</b> <span id="owner-fullname">не выбран</span></p>
                        {% endif %}
                        {% if object.apartment.owner.phone %}
                        <p><b>Телефон:</b>
                            <span id="owner-phone">
                                <a href="tel:+{{ object.apartment.owner.phone }}">
                                    {{ object.apartment.owner.phone }}
                                </a>
                            </span>
                        </p>
                        {% else %}
                        <p><b>Телефон:</b> <span id="owner-phone">не выбран</span></p>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive no-padding">
                            <div class="can-delete-list"></div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th style="min-width: 200px;">Услуга</th>
                                    <th style="min-width: 180px;">Расход</th>
                                    <th style="min-width: 120px;">Ед. изм.</th>
                                    <th style="min-width: 180px;">Цена за ед., грн.</th>
                                    <th style="min-width: 180px;">Стоимость, грн.</th>
                                    <th style="width: 40px; min-width: 40px;"></th>
                                </tr>
                                </thead>
                                {{ formset_for_services.management_form }}
                                <tbody id="form-services-rows">
                                {% with formset_for_services as form %}
                                {% for form in form %}
                                {{ form.id }}
                                <tr id="{{ form.prefix }}" class="form-services">
                                    <td>
                                        {{ form.services }}
                                    </td>
                                    <td>
                                        {{ form.quantity }}
                                    </td>
                                    <td>
                                        {{ form.unit }}
                                    </td>
                                    <td>
                                        {{ form.price }}
                                    </td>
                                    <td>
                                        {{ form.cost }}
                                    </td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-default btn-sm"
                                                onclick="delForm('{{ form.prefix }}')"
                                                title="Удалить услугу">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endwith %}
                                {% with formset_for_services.empty_form as form %}
                                <tbody id="empty_form-services" style="display: none;">
                                <tr id="{{ form.prefix }}" class="form-services">
                                    <td>
                                        {{ form.services }}
                                    </td>
                                    <td>
                                        {{ form.quantity }}
                                    </td>
                                    <td>
                                        {{ form.unit }}
                                    </td>
                                    <td>
                                        {{ form.price }}
                                    </td>
                                    <td>
                                        {{ form.cost }}
                                    </td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-default btn-sm"
                                                onclick="delForm('{{ form.prefix }}')"
                                                title="Удалить услугу">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                {% endwith %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4" valing="middle">
                                        <button type="button"
                                                onclick="addEmptyForm('{{ formset_for_services.prefix }}')"
                                                class="btn btn-default btn-hover-change">
                                            Добавить услугу
                                        </button>
                                        <button type="button" class="btn btn-default set-tariff-services">
                                            Установить все услуги согласно тарифу
                                        </button>
                                        <button type="button" class="btn btn-default add-counters">
                                            Добавить показания счетчиков
                                        </button>
                                    </td>
                                    <td style="min-width: 180px;">
                                        <div class="h4">
                                            Итого: <b><span id="price-total">0.00</span></b> грн
                                        </div>
                                    </td>
                                    <td style="width: 40px; min-width: 40px;"></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="form-group">
                            <a href="{% url 'receipts' %}" class="btn btn-default">Отменить</a>
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Показания счетчиков</h3>
                </div>
                <div id="counters">
                    <div id="meter_data_list" class="grid-view">
                        <div class="box-body table-responsive no-padding">
                            <table id="meter_table" class="table table-bordered table-hover table-striped table-nowrap">
                                <thead>
                                <tr>
                                    <th style="width: 125px; min-width: 125px">№</th>
                                    <th>Статус</th>
                                    <th style="width: 125px; min-width: 125px">Дата</th>
                                    <th style="width: 125px; min-width: 125px">Месяц</th>
                                    <th style="min-width: 200px">Дом</th>
                                    <th style="min-width: 160px">Секция</th>
                                    <th style="width: 110px; min-width: 110px">№ квартиры</th>
                                    <th>Счетчик</th>
                                    <th style="width: 90px; min-width: 90px">Показания</th>
                                    <th style="width: 90px; min-width: 90px">Ед. изм.</th>
                                </tr>
                                </thead>
                                <tfoot style="display: table-header-group">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <th></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for meter in meter_data %}
                                <tr>
                                    <td>{{ meter.number }}</td>
                                    {% if meter.status == 'new' %}
                                    <td><small class="label label-warning">Новое</small></td>
                                    {% elif meter.status == 'accounted' %}
                                    <td><small class="label label-success">Учтено</small></td>
                                    {% elif meter.status == 'accounted_for_paid' %}
                                    <td><small class="label label-success">Учтено и оплачено</small></td>
                                    {% else %}
                                    <td><small class="label label-primary">Нулевое</small></td>
                                    {% endif %}
                                    <td>{{ meter.date|date:"d.m.Y" }}</td>
                                    <td>{{ meter.date|date:"F Y"}}</td>
                                    <td>{{ meter.apartment.house.title }}</td>
                                    <td>{{ meter.apartment.section.title }}</td>
                                    <td>{{ meter.apartment.number }}</td>
                                    <td>{{ meter.counter }}</td>
                                    <td>{{ meter.indications|floatformat:"1g"|formatted_float }}</td>
                                    <td>{{ meter.counter.u_measurement }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'crm/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'crm/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script>

    // DataTable for meter data

    $('#meter_table tfoot th').each(function () {
        $(this).html('<input type="text" name="custom_search" id="apartment_number" style="display: none;"/>');
    });

    var table = $('#meter_table').DataTable({
        "responsive": false,
        'paging': false,
        'lengthChange': false,
        'searching': true,
        'ordering': false,
        'info': false,
        'autoWidth': true,
        "language": {
            "infoFiltered": "(Отфильтровано _MAX_ записей)",
            "zeroRecords": "Записей не найдено",
            "info": "Количество счетчиков: <strong>_TOTAL_</stong>",
            "infoEmpty": "Нет записей.",
            "paginate": {
                "previous": '<i class="fa fa-angle-left" style="color: #337AB7"></i>',
                "last": "Последняя",
                "next": '<i class="fa fa-angle-right" style="color: #337AB7"></i>',
            }
        },
        initComplete: function () {
            // Apply the search
            this.api()
                .columns([6])
                .every(function () {
                    var that = this;
                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            var key = this.value
                            var regExp = "."
                            if (key)
                                regExp = "^\\s*" + key + "\\s*$";

                            that.search(regExp, true).draw();
                        }
                    });
                });
            //
        }
    });
    $("#meter_table_filter").css('display', 'none')

    //


    // Options Formset according Tariff
    var select_tariff = $("select[name='tariff']")

    $(".set-tariff-services").on("click", function () {
        if (select_tariff.val()) {
            $.ajax({
                type: "GET",
                url: '{% url "loading_services_for_tariff" %}',
                data: {
                    'tariff_id': select_tariff.val(),
                },
                success: function (response) {
                    $("#form-services-rows").empty()
                    $('#id_services-TOTAL_FORMS').val(0)
                    for (service in response.services) {
                        var service_id = response.services[service].services
                        var price = response.services[service].price
                        var unit = response.services[service].services__u_measurement__title
                        console.log(response.services[service])
                        addForm_for_tariff(service_id, price, unit)
                    }
                },
                error: function (response) {
                    console.log(response.error)
                }
            })
        }
    })

    function addForm_for_tariff(service_id, price, unit) {
        const totalForms = $('#id_services-TOTAL_FORMS')
        const form_idx = totalForms.val();
        $("#form-services-rows").append($('#empty_form-services').html().replace(/__prefix__/g, form_idx))
        var select_services = $("select[name='services-" + form_idx + "-services']")
        var input_price = $("input[name='services-" + form_idx + "-price']")
        var input_unit = $("input[name='services-" + form_idx + "-unit']")
        input_price.val(price)
        input_unit.val(unit)
        select_services.find('option[value=' + service_id + ']').prop('selected', true)
        totalForms.val(parseInt(form_idx) + 1);
    }

    //


    // Formset for Services
    total_cost()

    function addEmptyForm(prefix) {
        console.log(prefix)
        const totalForms = $('#id_' + prefix + '-TOTAL_FORMS')
        const form_idx = totalForms.val();
        $("#form-" + prefix + "-rows").append($('#empty_form-' + prefix + '').html().replace(/__prefix__/g, form_idx))
        totalForms.val(parseInt(form_idx) + 1);
    }

    function delForm(prefix) {
        var form = $("tr[id='" + prefix + "']")
        console.log(prefix)
        const result = confirm('Удалить?');
        if (result) {
            $('.can-delete-list').append(
                '<input type="hidden" value="on" name="' + prefix + '-DELETE" id="id_' + prefix + '-DELETE">'
            );
            form.css('display', 'none');
            total_cost()
        } else {
        }
    }

    function selectServices(element) {
        var element_id = element.id.split("-").slice(0, 2).join("-") + "-unit"
        var price_id = element.id.split("-").slice(0, 2).join("-") + "-price"
        var cost_id = element.id.split("-").slice(0, 2).join("-") + "-cost"
        var quantity_id = element.id.split("-").slice(0, 2).join("-") + "-quantity"
        var select_tariff = $("select[name='tariff']")
        var tariff_id = $(select_tariff).val()
        if (element.value) {
            $("input[id=" + quantity_id + "]").val('0.00')
            $("input[id=" + cost_id + "]").val('0.00')
            $.ajax({
                type: "GET",
                url: "{% url 'loading_unit_for_services' %}",
                data: {
                    'service_id': element.value,
                    'tariff_id': tariff_id
                },
                success: function (response) {
                    console.log(response.services_price)
                    var price = parseFloat(
                        response.services_price).toFixed(2).toString()
                    $("input[id=" + price_id + "]").val(price)
                    $("input[id=" + element_id + "]").attr('value', response.unit[0].u_measurement__title)
                },
                error: function (response) {
                    console.log(response.error)
                }
            })
        } else {
            $("input[id=" + price_id + "]").val('0.00')
            $("input[id=" + element_id + "]").attr('value', 'Выберите услугу')
            $("input[id=" + quantity_id + "]").val('0.00')
            $("input[id=" + cost_id + "]").val('0.00')
        }
        total_cost()
    }

    function calcСost(element) {
        var cost_id = element.id.split("-").slice(0, 2).join("-") + "-cost"
        var quantity_id = element.id.split("-").slice(0, 2).join("-") + "-quantity"
        var price_id = element.id.split("-").slice(0, 2).join("-") + "-price"
        var price_value = $("input[id=" + price_id + "]").val()
        var quantity_value = $("input[id=" + quantity_id + "]").val()
        var cost_input = $("input[id=" + cost_id + "]")

        if (element.value) {
            cost_input.val(parseFloat(quantity_value * price_value).toFixed(2).toString())
        } else {
            cost_input.val('')
        }
        total_cost()
    }


    function total_cost() {
        var list_cost = []
        $(".total_cost").each(function () {
            console.log($(this))
            if ($(this).val() && $(this).is(":visible")) {
                list_cost.push(parseFloat($(this).val()))
            }
        })
        $("#price-total").html(parseFloat(
            list_cost.reduce(totals, 0)).toFixed(2).toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, " "))
    }

    function totals(b, a) {
        return parseFloat(b) + parseFloat(a)
    }

    //


    $(document).ready(function () {

        var personal_accounts = $("select[name='personal_accounts']")
        var select_house = $("select[name='house']")
        var select_section = $("select[name='section']")
        var select_apartment = $("select[name='apartment']")
        var select_tariff = $("select[name='tariff']")
        select_tariff.attr('readonly', true).find('option:not([selected])').remove()
        var fullname = $("#owner-fullname")
        var phone = $("#owner-phone")
        var initial_options = []
        var options = []


        // select2 of personal account
        $('select[name=personal_accounts] option').each(function () {
            initial_options.push({
                id: $(this).val(),
                text: $(this).text()
            })
        })

        personal_accounts.select2({
            allowClear: true,
            placeholder: "Выберите...",
            language: {
                noResults: function () {
                    return "Совпавдений не найдено";
                }
            }
        })

        //

        // clear data
        function clear_owner_data() {
            fullname.html('не выбран')
            phone.html('не выбран')
            select_tariff.find('option[value=""]').prop('selected', true);
            personal_accounts.empty().select2({
                data: initial_options,
                placeholder: "Выберите...",
                language: {
                    noResults: function () {
                        return "Совпавдений не найдено";
                    }
                }
            });
        }

        //

        // if house
        if (select_section.val()) {
            select_apartment.find('option:not([selected])').slice(1).remove();
            send_ajax_for_apartment(select_section.val(), true)
        } else {
            select_apartment.find('option:not([selected])').remove();
        }
        //

        // if section
        if (select_house.val()) {
            select_apartment.find('option:not([selected])').slice(1).remove();
            select_section.find('option:not([selected])').slice(1).remove();
            send_ajax_for_section(select_house.val(), true)
        } else {
            select_apartment.find('option:not([selected])').remove();
            select_section.find('option:not([selected])').remove();
        }
        //


        // changes select
        select_house.on("change", function () {
            clear_owner_data();
            select_apartment.find('option').slice(1).remove();
            if (this.value) {
                send_ajax_for_section(this.value, false)
            } else {
                select_section.find('option').slice(1).remove();
                select_apartment.find('option').slice(1).remove();
            }
        })

        select_section.on('change', function () {
            clear_owner_data();
            if (this.value) {
                send_ajax_for_apartment(this.value, false)
            } else {
                select_apartment.find('option').slice(1).remove();
                select_apartment.find('option').slice(1).remove();
            }
        })

        select_apartment.on('change', function () {
            if (this.value) {
                send_ajax_for_owner(this.value, false);
                $("#apartment_number").val($(this).find('option:selected').text()).trigger('change');
            } else {
                $("#apartment_number").val('').trigger('change');
            }
        })

        personal_accounts.on('change', function () {
            if (this.value) {
                send_ajax_for_personal_account(this.value);
            } else {
                $("#apartment_number").val('').trigger('change');
                select_tariff.find('option[value=""]').prop('selected', true);
                select_house.find('option[value=""]').prop('selected', true);
                select_section.find('option').slice(1).remove();
                select_apartment.find('option').slice(1).remove();
                fullname.html('не выбран')
                phone.html('не выбран')
            }
        })
        //

        // ajax
        function send_ajax_for_personal_account(data) {
            $.ajax({
                type: 'GET',
                url: "{% url 'loading_personal_account' %}",
                data: {
                    'id': data
                },
                success: function (response) {
                    var owner_last_name = response.personal_account[0].apartment__owner__last_name
                    var owner_first_name = response.personal_account[0].apartment__owner__first_name
                    var owner_username = response.personal_account[0].apartment__owner__username
                    var owner_phone = response.personal_account[0].apartment__owner__phone
                    var owner_id = response.personal_account[0].apartment__owner_id
                    if (owner_username !== null) {
                        show_owner(
                            [
                                {
                                    'owner__last_name': owner_last_name,
                                    'owner__first_name': owner_first_name,
                                    'owner__username': owner_username,
                                    'owner__phone': owner_phone,
                                    'owner_id': owner_id
                                }]
                        )
                    } else {
                        fullname.html('не выбран')
                        phone.html('не выбран')
                    }
                    var apartment_id = response.personal_account[0].apartment
                    var house_id = response.personal_account[0].apartment__house
                    var section_id = response.personal_account[0].apartment__section
                    var section_title = response.personal_account[0].apartment__section__title
                    var apartment_number = response.personal_account[0].apartment__number
                    var tariff_id = response.personal_account[0].apartment__tariff
                    if (house_id) {
                        select_house.find('option[value="' + house_id + '"]').prop('selected', true)
                        send_ajax_for_section(house_id, true)
                    } else {
                        select_section.find('option').slice(1).remove();
                        select_house.find('option[value=""]').prop('selected', true)
                    }
                    if (section_id) {
                        select_section.append(
                            '<option selected value="' + section_id + '">' + section_title + '</option>'
                        )
                        send_ajax_for_apartment(section_id, true)
                    } else {
                        select_apartment.find('option').slice(1).remove();
                    }
                    if (apartment_id) {
                        select_apartment.append(
                            '<option selected value ="' + apartment_id + '">' + apartment_number + '</option>'
                        )
                        $("#apartment_number").val($(select_apartment).find('option:selected').text()).trigger('change');
                    } else {
                        $("#apartment_number").val('').trigger('change');
                    }
                    if (tariff_id) {
                        select_tariff.find('option[value="' + tariff_id + '"]').prop('selected', true)
                    } else {
                        select_tariff.find('option[value=""]').prop('selected', true)
                    }


                },
                error: function (response) {
                    console.log(response.error)
                }
            })
        }

        function send_ajax_for_section(data, flag) {
            $.ajax({
                type: "GET",
                url: "{% url 'loading_section_for_house' %}",
                data: {
                    'house_id': data,
                },
                success: function (response) {
                    section_select(response.section, flag)
                },
                error: function (response) {
                    console.log(response.error)
                }
            })
        }

        function send_ajax_for_apartment(data, flag) {
            $.ajax({
                type: "GET",
                url: "{% url 'loading_apartment_for_section' %}",
                data: {
                    'section_id': data,
                },
                success: function (response) {
                    apartment_select(response.apartment, flag)
                },
                error: function (response) {
                    console.log(response.error)
                }
            })
        }

        function send_ajax_for_owner(data, flag) {
            $.ajax({
                type: "GET",
                url: "{% url 'loading_apartment_owner' %}",
                data: {
                    'apartment_id': data,
                },
                success: function (response) {
                    show_owner(response.owner)
                    tariff_select(response.tariff)
                    load_personal_account(response.personal_account, flag)
                },
                error: function (response) {
                    console.log(response.error)
                }
            })
        }

        //

        function section_select(data, flag) {
            if (flag) {
                select_section.find('option:not([selected])').slice(1).remove();
            } else {
                select_section.find('option').slice(1).remove();
            }
            for (section in data) {
                if (!select_section.find('option[value="' + data[section].id + '"]').length) {
                    select_section.append(
                        '<option value="' + data[section].id + '">' + data[section].title + '</option>\n'
                    )
                }
            }
        }

        function apartment_select(data, flag) {
            if (flag) {
                select_apartment.find('option:not([selected])').slice(1).remove();
            } else {
                select_apartment.find('option').slice(1).remove();
            }
            console.log(data, flag)
            for (apartment in data) {
                if (!select_apartment.find('option[value="' + data[apartment].id + '"]').length) {
                    select_apartment.append(
                        '<option value="' + data[apartment].id + '">' + data[apartment].number + '</option>\n'
                    )
                }
            }
        }

        function tariff_select(data) {
            if (data[0].tariff_id !== null) {
                select_tariff.find('option[value="' + data[0].tariff_id + '"]').prop('selected', true);
            } else {
                select_tariff.find('option[value=""]').prop('selected', true);
            }
        }


        function show_owner(data) {
            console.log(data)
            if (data[0].owner__first_name || data[0].owner__last_name) {
                fullname.html(
                    '<a href="/admin/owner/' + data[0].owner_id + '/">' + data[0].owner__last_name + ' ' + data[0].owner__first_name + '</a>'
                )
            } else {
                fullname.html(
                    '<a href="/admin/owner/' + data[0].owner_id + '/">' + data[0].owner__username + '</a>'
                )
            }
            if (data[0].owner__phone) {
                phone.html(
                    '<a href="tel:' + data[0].owner__phone + '">' + data[0].owner__phone + '</a>'
                )
            }
        }


        function load_personal_account(data, flag) {
            if (flag) {
                personal_accounts.find('option:not([selected])').slice(1).remove();
            } else {
                personal_accounts.find('option').slice(1).remove();
            }
            if (data.length > 0) {
                options.push({
                    text: data[0].number,
                    id: data[0].id,
                    selected: true
                })
                personal_accounts.select2({
                    data: options,
                    placeholder: "Выберите...",
                    language: {
                        noResults: function () {
                            return "Совпавдений не найдено";
                        }
                    }
                });
            }
            options = []
        }

        // datepicker
        !function (a) {
            a.fn.datepicker.dates.ru = {
                days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
                daysShort: ["Вск", "Пнд", "Втр", "Срд", "Чтв", "Птн", "Суб"],
                daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
                today: "Сегодня",
                clear: "Очистить",
                format: "dd.mm.yyyy",
                weekStart: 1,
                monthsTitle: "Месяцы"
            }
        }(jQuery);


        $('#id_date').datepicker({
            format: 'dd.mm.yyyy',
            startDate: '-100y',
            default: 'date',
            language: 'ru'
        });
        $('#id_date_start').datepicker({
            format: 'dd.mm.yyyy',
            startDate: '-100y',
            default: 'date',
            language: 'ru'
        });

        $('#id_date_end').datepicker({
            format: 'dd.mm.yyyy',
            startDate: '-100y',
            default: 'date',
            language: 'ru'
        });
        //

        //  jQuery Validations Form
        $.validator.addMethod("required_accounts", function (value) {
            if (!value) {
                return false
            }
            return true;
        });

        $.validator.addMethod("date_end", function (value) {
            var date_start = $('#id_date_start').val();
            var correct_date_start = date_start.split(".")[2] + '-' + date_start.split(".")[1] + '-' + date_start.split(".")[0]
            var correct_date_end = value.split(".")[2] + '-' + value.split(".")[1] + '-' + value.split(".")[0]
            if (new Date(correct_date_start).getTime() > new Date(correct_date_end).getTime()) {
                return false
            } else {
                return true
            }
        });

        var validator = $('#receipt-form').validate({
            rules: {
                date: {
                    required: true,
                },
                number: {
                    required: true,
                    minlength: 8
                },
                apartment: {
                    required: true,
                },
                tariff: {
                    required: true,
                },
                personal_accounts: {
                    required_accounts: true,
                },
                date_end: {
                    date_end: true
                },

            },
            messages: {
                date: {
                    required: "Обязательное поле",
                },
                date_start: {
                    required: "Обязательное поле",
                },
                date_end: {
                    required: "Обязательное поле",
                    date_end: "Не корректный Период",
                },
                number: {
                    required: "Обязательное поле",
                    minlength: "Пожалуйста, введите не менее 8 символов"
                },
                apartment: {
                    required: "Обязательное поле",
                },
                tariff: {
                    required: "Обязательное поле",
                },
                personal_accounts: {
                    required: "Обязательное поле",
                    required_accounts: "Обязательное поле",
                }
            },

            errorElement: 'span',
            errorPlacement: function (error, element) {
                element.closest('.form-group').append(error);
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
        });

        personal_accounts.on('change', function () {
            validator.element($(this))
        })
        //
    })

</script>


{% endblock %}