<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 898px;">
    <section class="sidebar" style="overflow: hidden; width: auto; height: 898px;">

        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="active treeview menu-open"><a href="#!"><i class="fa fa-line-chart"></i> <span>Сводка</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                <ul class="treeview-menu" style="display: block">
                    <li class="active"><a href="/cabinet/?flat_id=89"><i class="fa fa-building-o"></i>
                        <span>Н-О, кв.4</span></a></li>
                    <li><a href="/cabinet/?flat_id=96"><i class="fa fa-building-o"></i>
                        <span>ЖК "Башня Чкалов", кв.3425</span></a></li>
                </ul>
            </li>
            <li class="treeview"><a href="#!"><i class="fa fa-files-o"></i> <span>Квитанции</span> <span
                    class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                <ul class="treeview-menu">
                    <li><a href="/cabinet/invoice/index"><i class="fa fa-files-o"></i> <span>Все квитанции</span></a>
                    </li>
                    <li><a href="/cabinet/invoice/index?InvoiceSearch%5Bflat_id%5D=89"><i class="fa fa-file-text-o"></i>
                        <span>Н-О, кв.4</span></a></li>
                    <li><a href="/cabinet/invoice/index?InvoiceSearch%5Bflat_id%5D=96"><i class="fa fa-file-text-o"></i>
                        <span>ЖК "Башня Чкалов", кв.3425</span></a></li>
                </ul>
            </li>
            <li class="treeview"><a href="/cabinet/tariff/index"><i class="fa fa-money"></i> <span>Тарифы</span> <span
                    class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                <ul class="treeview-menu">
                    <li><a href="/cabinet/tariff/index?flat_id=89"><i class="fa fa-file-text-o"></i>
                        <span>Н-О, кв.4</span></a></li>
                    <li><a href="/cabinet/tariff/index?flat_id=96"><i class="fa fa-file-text-o"></i> <span>ЖК "Башня Чкалов", кв.3425</span></a>
                    </li>
                </ul>
            </li>
            <li><a href="/cabinet/message/index"><i class="fa fa-envelope-o"></i> <span>Сообщения</span></a></li>
            <li><a href="/cabinet/master-request/index"><i class="fa fa-wrench"></i> <span>Вызов мастера</span></a></li>
            <li><a href="/cabinet/user/view"><i class="fa fa-user-circle-o"></i> <span>Профиль</span></a></li>
        </ul>
    </section>
    <div class="slimScrollBar"
         style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 898px;"></div>
    <div class="slimScrollRail"
         style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
</div>